<p id="notice"><%= notice %></p>

<p>
  <strong>Ativo:</strong>
  <%= @despesa.ativo %>
</p>

<p>
  <strong>Aposentados:</strong>
  <%= @despesa.aposentados %>
</p>

<p>
  <strong>Folhas avulsas:</strong>
  <%= @despesa.folhas_avulsas %>
</p>

<p>
  <strong>Auxilio alimentacao:</strong>
  <%= @despesa.auxilio_alimentacao %>
</p>

<p>
  <strong>Vale refeicao:</strong>
  <%= @despesa.vale_refeicao %>
</p>

<p>
  <strong>Pasep:</strong>
  <%= @despesa.pasep %>
</p>

<p>
  <strong>Adiatamento ferias:</strong>
  <%= @despesa.adiatamento_ferias %>
</p>

<p>
  <strong>Decimo terceiro:</strong>
  <%= @despesa.decimo_terceiro %>
</p>

<p>
  <strong>Terco ferias:</strong>
  <%= @despesa.terco_ferias %>
</p>

<p>
  <strong>Precatorios:</strong>
  <%= @despesa.precatorios %>
</p>

<p>
  <strong>Indenizacoes pidv:</strong>
  <%= @despesa.indenizacoes_pidv %>
</p>

<p>
  <strong>Outros custeios investimentos:</strong>
  <%= @despesa.outros_custeios_investimentos %>
</p>

<p>
  <strong>Reservas orcamentarias:</strong>
  <%= @despesa.reservas_orcamentarias %>
</p>

<p>
  <strong>Despesas custeadas receitas vinculadas:</strong>
  <%= @despesa.despesas_custeadas_receitas_vinculadas %>
</p>

<p>
  <strong>Ano:</strong>
  <%= @despesa.ano %>
</p>

<%= link_to 'Edit', edit_despesa_path(@despesa) %> |
<%= link_to 'Back', despesas_path %>
