<p id="notice"><%= notice %></p>

<p>
  <strong>Area item:</strong>
  <%= @orcamento_nv_area_atuacao.area_item %>
</p>

<p>
  <strong>Pessoal ativo:</strong>
  <%= @orcamento_nv_area_atuacao.pessoal_ativo %>
</p>

<p>
  <strong>Pessoal inativo:</strong>
  <%= @orcamento_nv_area_atuacao.pessoal_inativo %>
</p>

<p>
  <strong>Precatorio:</strong>
  <%= @orcamento_nv_area_atuacao.precatorio %>
</p>

<p>
  <strong>Outros custeios investimentos:</strong>
  <%= @orcamento_nv_area_atuacao.outros_custeios_investimentos %>
</p>

<p>
  <strong>Reservas orcamentarias:</strong>
  <%= @orcamento_nv_area_atuacao.reservas_orcamentarias %>
</p>

<p>
  <strong>Proporcao:</strong>
  <%= @orcamento_nv_area_atuacao.proporcao %>
</p>

<p>
  <strong>Ano:</strong>
  <%= @orcamento_nv_area_atuacao.ano %>
</p>

<%= link_to 'Edit', edit_orcamento_nv_area_atuacao_path(@orcamento_nv_area_atuacao) %> |
<%= link_to 'Back', orcamento_nv_area_atuacaos_path %>
