<!DOCTYPE html>
<html>
  <head>
    <title>USPAnalytics</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1><%= @title %></h1>
    <hr />
    <% unless @back.nil? %>
      <p>Go <%= link_to "back", controller: 'pages', action: @back %>.</p>
    <% end %>
    <p>Menu:
      <ol>
        <% @next.each do |n| %>
          <li><%= link_to n[:name], controller: 'pages', action: n[:action] %></li>
        <% end %>
      </ol>
    </p>
  </body>
</html>
