<div class="container main-container">
    <h2>Ver Análises</h2>
    <hr>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="data-box">
                <div class="data-header blue">
                    <span class="icon fa fa-bar-chart"></span>
                    <span class="title">Por Tópico</span>
                </div>
                <div class="data-item blue"><%= link_to "Taxas de evasão", evasao_path, :style => 'color:inherit; background-color: transparent !important;'%></div>
                <div class="data-item blue"><%= link_to "Gastos com informática", infog_path, :style => 'color:inherit; background-color: transparent !important;'%></div>
                <div class="data-item blue"><%= link_to "Disparidade de gênero", genero_path, :style => 'color:inherit; background-color: transparent !important;'%></div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="data-box">
                <div class="data-header beige">
                    <span class="icon fa fa-university"></span>
                    <span class="title">Por Instituto</span>
                </div>
                <div class="data-item beige"><%= link_to "Instituto de Matemática e Estatística", ime_path, :style => 'color:inherit; background-color: transparent !important;'%></div>
                <div class="data-item beige"><%= link_to "Escola Politécnica", poli_path, :style => 'color:inherit; background-color: transparent !important;'%></div>
                 <div class="data-item beige"><%= link_to "Faculdade de Filosofia, Letras e Ciências Humanas", fflch_path, :style => 'color:inherit; background-color: transparent !important;'%></div>
            </div>
        </div>
    </div>
</div>
