<p id="notice"><%= notice %></p>

<h1>Orcamento Orgao Servicos</h1>

<table>
  <thead>
    <tr>
      <th>Orgao servico</th>
      <th>Pessoal ativo</th>
      <th>Pessoal inativo</th>
      <th>Dotacao</th>
      <th>Outros custeios investimentos dotacao basica adicionais</th>
      <th>Outros custeios investimentos utilidade publica</th>
      <th>Ano</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orcamento_orgao_servicos.each do |orcamento_orgao_servico| %>
      <tr>
        <td><%= orcamento_orgao_servico.orgao_servico %></td>
        <td><%= orcamento_orgao_servico.pessoal_ativo %></td>
        <td><%= orcamento_orgao_servico.pessoal_inativo %></td>
        <td><%= orcamento_orgao_servico.dotacao %></td>
        <td><%= orcamento_orgao_servico.outros_custeios_investimentos_dotacao_basica_adicionais %></td>
        <td><%= orcamento_orgao_servico.outros_custeios_investimentos_utilidade_publica %></td>
        <td><%= orcamento_orgao_servico.ano %></td>
        <td><%= link_to 'Show', orcamento_orgao_servico %></td>
        <td><%= link_to 'Edit', edit_orcamento_orgao_servico_path(orcamento_orgao_servico) %></td>
        <td><%= link_to 'Destroy', orcamento_orgao_servico, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Orcamento Orgao Servico', new_orcamento_orgao_servico_path %>
