<p id="notice"><%= notice %></p>

<p>
  <strong>Unidade:</strong>
  <%= @orcamento_nv_institutos_especializado.unidade %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @orcamento_nv_institutos_especializado.categoria %>
</p>

<p>
  <strong>Pessoal ativo:</strong>
  <%= @orcamento_nv_institutos_especializado.pessoal_ativo %>
</p>

<p>
  <strong>Pessoal inativo:</strong>
  <%= @orcamento_nv_institutos_especializado.pessoal_inativo %>
</p>

<p>
  <strong>Dotacao:</strong>
  <%= @orcamento_nv_institutos_especializado.dotacao %>
</p>

<p>
  <strong>Outros custeios investimentos dotacao basica adicionais:</strong>
  <%= @orcamento_nv_institutos_especializado.outros_custeios_investimentos_dotacao_basica_adicionais %>
</p>

<p>
  <strong>Outros custeios investimentos utilidade publica:</strong>
  <%= @orcamento_nv_institutos_especializado.outros_custeios_investimentos_utilidade_publica %>
</p>

<p>
  <strong>Ano:</strong>
  <%= @orcamento_nv_institutos_especializado.ano %>
</p>

<%= link_to 'Edit', edit_orcamento_nv_institutos_especializado_path(@orcamento_nv_institutos_especializado) %> |
<%= link_to 'Back', orcamento_nv_institutos_especializados_path %>
